<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>表格列组件 | Magento 2 Developer Documentation</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">

	<link rel="stylesheet" href="/assets/css/app.css" />
	<link rel="stylesheet" href="/assets/css/print.css" media="print"/>

	<link rel="stylesheet" href="/common/css/devdocs.css" />

	<script>
  var baseUrl = "";
  var algolia = {
    id : "E642SEDTHL",
    index:  "devdocs",
    key:  "d2d0f33ab73e291ef8d88d8b565e754c"
  };
</script>




	<link rel="canonical" href="http://localhost:4000/guides/v2.3/ui_comp_guide/components/ui-column.html">

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

</head>
<body class="layout-default">

	<header class="site-header">

		<nav class="site-nav">

  <div class="menu-btn">
    <a id="menu-btn" class="menu-trigger menu-icon" href="#nav-main" aria-haspopup="true" aria-controls="nav-main"></a>
  </div>

  <div class="nav-container">

    <a class="logo" href="/guides/v2.3/">
      <img src="/assets/i/m-logo.svg" alt=""><img src="/assets/i/magento-logo.svg" alt="Magento" class="magento-logo" />
      <span class="site-logo">DevDocs</span>
    </a>

    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      
<div class="version-switcher dropdown" data-version="2.3">
	<button id="version-switcher-button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Magento 2.3 Pre-release
	</button>

	<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="version-switcher-button">
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.0/ui_comp_guide/components/ui-column.html">Magento 2.0</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.1/ui_comp_guide/components/ui-column.html">Magento 2.1</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.2/ui_comp_guide/components/ui-column.html">Magento 2.2</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.3/ui_comp_guide/components/ui-column.html">Magento 2.3 Pre-release</a></li>
	
  </ul>

</div>


      <!-- Main Navigation -->
<ul class="nav-main" role="menubar">

  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">部署</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
          <li><a href="/guides/v2.3/install-gde/bk-install-guide.html">安装向导</a></li>
          
          <li><a href="/guides/v2.3/config-guide/bk-config-guide.html">配置手册</a></li>
          
          <li><a href="/guides/v2.3/performance-best-practices/index.html">高效实践</a></li>
          
          <li><a href="/guides/v2.3/migration/bk-migration-guide.html">迁移指引</a></li>
          <li><a href="/guides/v2.3/cloud/bk-cloud.html">上云指引</a></li>
          <li><a href="/magento-release-information.html">版本日志</a></li>
      </ul>
    </div>

  </li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">开发</span>

    <div class="nav-popup" role="menu" aria-hidden="true">

      <div class="nav-section">
        <div class="nav-section-title">服务端</div>
        <ul>
          <li><a href="/guides/v2.3/architecture/bk-architecture.html">架构说明</a></li>
          <li><a href="/guides/v2.3/extension-dev-guide/bk-extension-dev-guide.html">PHP开发文档</a></li>
          <li><a href="/guides/v2.3/ext-best-practices/bk-ext-best-practices.html">扩展开发实践</a></li>
          <li><a href="/guides/v2.3/mrg/intro.html">各模块介绍</a></li>
          <li><a href="/guides/v2.3/coding-standards/bk-coding-standards.html">编码规范</a></li>
          <li><a href="/guides/v2.3/contributor-guide/contributing.html">贡献指引</a></li>
        </ul>
      </div>

      <div class="nav-section">
        <div class="nav-section-title">前端</div>
        <ul>
          <li class=""><a href="/guides/v2.3/frontend-dev-guide/bk-frontend-dev-guide.html">前端工程师手册</a></li>
          
          <li><a href="/guides/v2.3/ui_comp_guide/bk-ui_comps.html">UI组件手册</a></li>
          
          <li><a href="/guides/v2.3/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript开发手册</a></li>
          <li><a href="/guides/v2.3/pattern-library/bk-pattern.html">管理面板设计模式及所用库</a></li>
          <li><a href="/guides/v2.3/design-styleguide/bk-styleguide.html">管理面板样式手册</a></li>
          <li><a href="https://magento-research.github.io/pwa-devdocs/">PWA Studios</a></li>
        </ul>
      </div>

      <div class="nav-section">
        <div class="nav-section-title"><abbr>API</abbr></div>
        <ul>
          <li><a href="/guides/v2.3/get-started/bk-get-started-api.html">Web APIs起步</a></li>
          <li><a href="/guides/v2.3/rest/bk-rest.html">REST API参考</a></li>
          <li><a href="/guides/v2.3/soap/bk-soap.html">SOAP API参考</a></li>
          
          <li><a href="/guides/v2.3/graphql/index.html">GraphQL开发者手册(新!)</a></li>
          
          
          <li><a href="/guides/v2.3/marketplace/eqp/api.html">Marketplace EQP API Reference</a></li>
          
        </ul>
      </div>
    </div>

  </li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">测试</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
        <li><a href="/guides/v2.3/test/testing.html">Magento测试手册</a></li>
        
        <li><a href="/guides/v2.3/magento-functional-testing-framework/release-2/introduction.html">功能验收测试(新!)</a></li>
        
        <li><a href="/guides/v2.3/mtf/mtf_introduction.html">功能测试</a></li>
        <li><a href="/guides/v2.3/test/integration/integration_test_execution.html">集成测试</a></li>
        <li><a href="/guides/v2.3/test/js/jasmine.html">JavaScript单元测试</a></li>
        <li><a href="/guides/v2.3/test/unit/unit_test_execution.html">PHP单元测试</a></li>
        <li><a href="/guides/v2.3/get-started/web-api-functional-testing.html">Web API功能测试</a></li>
      </ul>
    </div>

  </li>


  <li class="nav-main-separator"></li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">功能文档</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
          
          <li class="leaf"><a href="/guides/v2.3/advanced-reporting/overview.html">高级报表</a></li>
          
        
        <li class="leaf"><a href="/guides/v2.3/b2b/bk-b2b.html">B2B</a></li>
        
        <li><a href="/guides/v2.3/howdoi/checkout/checkout_overview.html">Checkout</a></li>
        <li><a href="/guides/v2.3/payments-integrations/bk-payments-integrations.html">支付集成</a></li>
        
          <li><a href="/guides/v2.3/extension-dev-guide/staging.html">Staging</a></li>
        
      </ul>
    </div>

  </li>


  <li class="nav-main-item"  tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">指引</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
        <li><a href="/guides/v2.3/howdoi/bk-how-do-i.html">如何</a></li>
        
        <li><a  data-proofer-ignore href="/guides/v2.3/get-started/order-tutorial/order-intro.html">使用EST APIs处理订单</a></li>
        

        <li><a href="/videos/">视频教程</a></li>
      </ul>
    </div>

  </li>

</ul><!-- /.nav-main -->

    </div>

    <div class="search-btn">
      <a class="search-trigger search-icon" href="#"></a>
    </div>

    <form class="quick-search" action="/guides/v2.3/search.html" method="get" novalidate="novalidate">
      <input type="search" name="q" placeholder="Search" />
      <a href="#" class="quick-search-close">&times;</a>
    </form>

  </div>

</nav><!-- #site-nav -->
<div class="nav-main-fader"></div>


	</header>

	<div class="global-wrapper">

		<div class="main-container">
			<a id="main-content"></a>


<div class="content-container">

	<!-- sidebar -->
<aside class="sidebar">
	<a href="#" data-proofer-ignore class="toc-toggler">内容表格</a>
	<div class="sidebar-wrapper">

		

		<h4 class="guide-title">UI Components Guide</h4>
		<div class="collapsible-navigation">
		    <ul>
		    
		    	

<li class="nav-level1  " id="ui组件概述">
    

    
    <a href="/guides/v2.3/ui_comp_guide/bk-ui_comps.html">UI组件概述</a>
    

    
</li>


		    
		    	

<li class="nav-level1  " id="components">
    

    
    <span>Components</span>
    

    
    <ul>
        
        
        
        <li class="nav-level2  " id="操作列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-actionscolumn.html">操作列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="书签组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-bookmarks.html">书签组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="按钮组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-button.html">按钮组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="复选框组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-checkbox.html">复选框组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="单/复选框组组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-checkboxset.html">单/复选框组组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2 active " id="表格列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-column.html">表格列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="多表格列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-columns.html">多表格列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="可控多表格列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-columnscontrols.html">可控多表格列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="数据组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-date.html">数据组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="数据列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-datecolumn.html">数据列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="可拖曳组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-draganddrop.html">可拖曳组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="动态行组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-dynamicrows.html">动态行组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="邮件组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-email.html">邮件组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="导出按钮组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-exportbutton.html">导出按钮组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="fieldset-component">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-fieldset.html">Fieldset component</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="文件组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-file.html">文件组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="文件上传组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-fileuploader.html">文件上传组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="过滤器组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-filters.html">过滤器组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="标签过滤器组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-filterschips.html">标签过滤器组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="表单组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-form.html">表单组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="隐藏域组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-hidden.html">隐藏域组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="html内容组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-htmlcontent.html">Html内容组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="输入框组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-input.html">输入框组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="可插入表单组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-insertform.html">可插入表单组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="可插入列表组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-insertlisting.html">可插入列表组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="列表(网格)组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-listing-grid.html">列表(网格)组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="下拉操作组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-massactions.html">下拉操作组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="modal-component">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-modal.html">Modal component</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="多输入组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-multiline.html">多输入组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="多选框组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-multiselect.html">多选框组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="多选框列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-multiselectcolumn.html">多选框列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="导航栏组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-nav.html">导航栏组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="开关列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-onoffcolumn.html">开关列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="分页组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-paging.html">分页组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="单选组组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-radioset.html">单选组组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="范围筛选组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-range.html">范围筛选组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="搜索组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-search.html">搜索组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="单选框组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-select.html">单选框组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="单选列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-selectcolumn.html">单选列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="表格显示数量控制组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-sizes.html">表格显示数量控制组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="标签页组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-tab.html">标签页组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="文本组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-text.html">文本组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="文本输入框组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-textarea.html">文本输入框组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="缩略图列组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-thumbnailcolumn.html">缩略图列组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="工具栏组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-toolbar.html">工具栏组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="树形下拉操作组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-treemassactions.html">树形下拉操作组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="wysiwyg-component">

            

            
            <a href="/guides/v2.3/ui_comp_guide/components/ui-wysiwyg.html">WYSIWYG component</a>
            

            
        </li>
        
        
    </ul>
    
</li>


		    
		    	

<li class="nav-level1  " id="concepts">
    

    
    <span>Concepts</span>
    

    
    <ul>
        
        
        
        <li class="nav-level2  " id="ui组件配置流程">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_config_flow_concept.html">UI组件配置流程</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于ui组件的xml配置">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_xmldeclaration_concept.html">关于UI组件的XML配置</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="提供数据到ui组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_data_source.html">提供数据到UI组件</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于ui组件的php修改">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_modifier_concept.html">关于UI组件的PHP修改</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="模板常量">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_template_literals.html">模板常量</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="magento自定义knockout.js绑定">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/knockout-bindings.html">Magento自定义Knockout.js绑定</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于uiclass库">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uiclass_concept.html">关于uiClass库</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于uielement类">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uielement_concept.html">关于uiElement类</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于uicollection类">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uicollection_concept.html">关于uiCollection类</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="关于ulayout服务类">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uilayout_concept.html">关于uLayout服务类</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="ui组件连接属性">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_linking_concept.html">UI组件连接属性</a>
            

            
        </li>
        
        
        
        
        <li class="nav-level2  " id="uiregistry">

            

            
            <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uiregistry.html">uiRegistry</a>
            

            
        </li>
        
        
    </ul>
    
</li>


		    
		    	

<li class="nav-level1  " id="如何">
    

    
    <span>如何</span>
    

    
    <ul>
        
        
        
        <li class="nav-level2  " id="creating-and-displaying-a-category-attribute-with-ui-components">

            

            
            <a href="/guides/v2.3/ui_comp_guide/howto/add_category_attribute.html">Creating and displaying a category attribute with UI Components</a>
            

            
        </li>
        
        
    </ul>
    
</li>


		    
		    	

<li class="nav-level1  " id="troubleshoot">
    

    
    <span>Troubleshoot</span>
    

    
    <ul>
        
        
        
        <li class="nav-level2  " id="js调试ui组件">

            

            
            <a href="/guides/v2.3/ui_comp_guide/troubleshoot/ui_comp_troubleshoot_js.html">js调试UI组件</a>
            

            
        </li>
        
        
    </ul>
    
</li>


		    
		    </ul>
		</div>

	</div>

</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

  <nav class="breadcrumbs">

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

      <li class="breadcrumb-item"><a class="breadcrumb-item" href="/guides/v2.3/"><span>首页</span></a></li>

    <!-- Iteration breadcrumb item -->
    
    

    

      <!-- Skip if root -->
      

      <!-- Get breadcrumb title -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">

        
          <a property="item" typeof="WebPage" href="/guides/v2.3/ui_comp_guide/bk-ui_comps.html">
            <span property="name">UI组件概述</span>
          </a>
        

        <meta property="position" content="1" />
      </li>

    

      <!-- Skip if root -->
      

      <!-- Get breadcrumb title -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">

        

          

          <span property="name">表格列组件</span>

        

        <meta property="position" content="2" />
      </li>

    

    </ol>

  </nav>



	

	

	<h1 class="page-heading">表格列组件</h1>

  


</section>

			<h2 id="overview">Overview</h2>
<p>The 表格列components implements a basic column in <a href="/guides/v2.3/ui_comp_guide/components/ui-listing-grid.html">Listing</a>.</p>

<h2 id="configuration">Configuration</h2>

<p>Extends all <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uielement_concept.html"><code class="highlighter-rouge">UiElement</code></a> configuration.</p>

<p>Column-specific configuration:</p>

<table>
  <tr>
    <th>Option</th>
    <th>描述</th>
    <th>Type</th>
    <th>Default</th>
  </tr>
  <tr>
    <td><code>bodyTmpl</code></td>
    <td>Path to the template used for rendering column's fields in the table's body.</td>
    <td>String</td>
    <td><code>ui/grid/cells/text</code></td>
  </tr>
  <tr>
    <td><code>controlVisibility</code></td>
    <td>Whether a user can control column's visibility handled by the <a href="/guides/v2.3/ui_comp_guide/components/ui-columnscontrols.html">可控多表格列组件</a>.</td>
    <td>Boolean</td>
    <td><code>true</code></td>
  </tr>
  <tr>
    <td><code>disableAction</code></td>
    <td>Disables the action set in the <code>templates.fieldAction</code> property.</td>
    <td>Boolean</td>
    <td><code>false</code></td>
  </tr>
  <tr>
    <td><code>draggable</code></td>
    <td>Defines if a user can change column's position in the table by grabbing column's header and dragging it across the table.</td>
    <td>Boolean</td>
    <td><code>true</code></td>
  </tr>
  <tr>
    <td><code>editor</code></td>
    <td></td>
    <td>String | Object</td>
    <td></td>
  </tr>
  <tr>
    <td><code>fieldClass</code></td>
    <td>Additonal CSS classes added to the column's field elements.</td>
    <td>{[name: String]: Boolean}</td>
    <td><code>''</code></td>
  </tr>
  <tr>
    <td><code>filter</code></td>
    <td>Reference to one of the available filter types defined in the <a href="/guides/v2.3/ui_comp_guide/components/ui-filters.html">过滤器组件</a>. If the value represents an object containing the <code>filterType</code> field, this object is considered as an extension of the referenced filter element. If there's no such field in the value object, it is considered as a definition of a custom filter element.</td>
    <td>String | Object</td>
    <td></td>
  </tr>
  <tr>
    <td><code>headerTmpl</code></td>
    <td>Path to the <code>.html</code> template for the column's header.</td>
    <td>String</td>
    <td><code>ui/grid/columns/text</code></td>
  </tr>
  <tr>
    <td><code>label</code></td>
    <td>The column label displayed in the header.</td>
    <td>String</td>
    <td>''</td>
  </tr>
  <tr>
    <td><code>sortable</code></td>
    <td>Whether column's fields can be used to sort records in a table.</td>
    <td>Boolean</td>
    <td><code>true</code></td>
  </tr>
  <tr>
    <td><code>sorting</code></td>
    <td>Column's sorting order. Can be ascending (<code>asc</code>), descending (<code>desc</code>) or none (<code>false</code>). Setting <code>sorting</code> to <code>false</code> does not disable sorting, which is defined by the <code>sortable</code> option.</td>
    <td><code>asc</code> | <code>desc</code> | Boolean</td>
    <td><code>false</code></td>
  </tr>
  <tr>
    <td><code>statefull</code></td>
    <td>Defined in the parent <a href="/guides/v2.3/ui_comp_guide/concepts/ui_comp_uielement_concept.html">uiElement class</a>.</td>
    <td></td>
    <td><code>{visible: true, sorting: true}</code></td>
  </tr>
  <tr>
    <td><code>templates.fieldAction</code></td>
    <td>The action performed on the column's field click.</td>
    <td><a href="#column_action">ColumnAction</a></td>
    <td>-</td>
  </tr>
  <tr>
    <td><code>visible</code></td>
    <td>Initial component's visibility. When set to <code>false</code>, the <code>display: none</code> CSS style is added to the component's DOM block.</td>
    <td>Boolean</td>
    <td><code>true</code></td>
  </tr>
</table>

<h3 id="column_action">ColumnAction interface</h3>
<table>
  <tr>
    <th>Option</th>
    <th>描述</th>
    <th>Type</th>
    <th>Required</th>
  </tr>
  <tr>
    <td><code>params</code></td>
    <td>A list of arguments that will be passed to the method.</td>
    <td>Array</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td><code>provider</code></td>
    <td>Reference to component.</td>
    <td>String</td>
    <td>Required</td>
  </tr>
  <tr>
    <td><code>target</code></td>
    <td>Name of the component's method to be invoked.</td>
    <td>String</td>
    <td>Required</td>
  </tr>
</table>

<h2 id="reference-api">Reference API</h2>

<p>JS constructor: <code class="highlighter-rouge">Magento/Ui/view/base/web/js/grid/columns/column.js</code>.</p>

			
		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

    
  
    
    <div class="github-link">
      <a class="improve-page" href="https://github.com/magento/devdocs/blob/develop/guides/v2.3/ui_comp_guide/components/ui-column.md" target="_blank">
        去GitHub上编辑
      </a>
    </div>
    
  
    
    <div class="new-issue">
      <a href="https://github.com/magento/devdocs/issues/new?title=Feedback on page: /guides/v2.3/ui_comp_guide/components/ui-column.html" target="_blank">反馈</a>
    </div>
    
  
  </div>

	</section>
	<!-- /.content -->

</div> <!-- /.content-container -->


	</div>
	<!-- /.main-container -->
</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div class="page-footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav footer-links">
  <li><a href="/guides/v2.3/contributor-guide/contributing_docs.html">成为贡献者</a>
  <li><a href="https://magento.github.io/glossary/index.html?audience=developer">术语表</a></li>
  <li><a href="http://magento.com/legal/terms/privacy/">隐私政策</a></li>
  <li><a href="http://magento.com/legal/terms/">服务条款</a></li>
  <li><a href="http://magento.com/legal/licensing/">许可/商标 常见问题</a></li>
  <li><a href="/guides/v2.3/release-notes/bk-release-notes.html">版本日志</a></li>
  <li><a href="/magento-third-party.html">三方许可</a></li>
</ul>

    </div>

		<div class="copyright-date">&copy; 2018 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="/assets/js/app.min.js"></script>


<script src="/common/js/devdocs.min.js"></script>




</body>
</html>

