<ul class="nav footer-links">
  <li><a href="{{ page.baseurl }}/contributor-guide/contributing_docs.html">成为贡献者</a>
  <li><a href="https://magento.github.io/glossary/index.html?audience=developer">术语表</a></li>
  <li><a href="http://magento.com/legal/terms/privacy/">隐私政策</a></li>
  <li><a href="http://magento.com/legal/terms/">服务条款</a></li>
  <li><a href="http://magento.com/legal/licensing/">许可/商标 常见问题</a></li>
  <li><a href="{{ page.baseurl }}/release-notes/bk-release-notes.html">版本日志</a></li>
  <li><a href="{{ site.baseurl }}/magento-third-party.html">三方许可</a></li>
</ul>
