<section class="home-contributors">
  <div class="container">

    <h2>每月贡献排行</h2>

    <p class="intro">
      我们的文档在github上开源，任何微小的修改都可能有助于更清晰的理解现有内容，非常我们感激我们社区可爱的小伙伴们为我们提供的一个个新主题。点击<a href="{{ page.baseurl }}/contributor-guide/quarterly-contributors.html">这里</a>查看所有的贡献者.
    </p>

    <div class="devdocs-contributors" data-contributors-limit="5" data-period-types="monthly"></div>

    <div class="home-contributors-buttons">
      <a href="{{ page.baseurl }}/contributor-guide/contributing_docs.html" class="btn btn-large btn-primary">成为贡献者</a>
    </div>

  </div>
</section><!-- END home-contributors -->
