<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>样例模板教程 | Magento 2 Developer Documentation</title>
	<meta name="description" content="Magento 2 Developer Documentation.
">

	<link rel="stylesheet" href="/assets/css/app.css" />
	<link rel="stylesheet" href="/assets/css/print.css" media="print"/>

	<link rel="stylesheet" href="/common/css/devdocs.css" />

	<script>
  var baseUrl = "";
  var algolia = {
    id : "E642SEDTHL",
    index:  "devdocs",
    key:  "d2d0f33ab73e291ef8d88d8b565e754c"
  };
</script>




	<link rel="canonical" href="http://localhost:4000/guides/v2.2/contributor-guide/templates/tutorial-template-first.html">

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

</head>
<body class="layout-tutorial">

	<header class="site-header">

		<nav class="site-nav">

  <div class="menu-btn">
    <a id="menu-btn" class="menu-trigger menu-icon" href="#nav-main" aria-haspopup="true" aria-controls="nav-main"></a>
  </div>

  <div class="nav-container">

    <a class="logo" href="/">
      <img src="/assets/i/m-logo.svg" alt=""><img src="/assets/i/magento-logo.svg" alt="Magento" class="magento-logo" />
      <span class="site-logo">DevDocs</span>
    </a>

    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      
<div class="version-switcher dropdown" data-version="2.2">
	<button id="version-switcher-button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Magento 2.2
	</button>

	<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="version-switcher-button">
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.0/contributor-guide/templates/tutorial-template-first.html">Magento 2.0</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.1/contributor-guide/templates/tutorial-template-first.html">Magento 2.1</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.2/contributor-guide/templates/tutorial-template-first.html">Magento 2.2</a></li>
	
		<li><a class="dropdown-item" data-proofer-ignore href="/guides/v2.3/contributor-guide/templates/tutorial-template-first.html">Magento 2.3 Pre-release</a></li>
	
  </ul>

</div>


      <!-- Main Navigation -->
<ul class="nav-main" role="menubar">

  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">部署</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
          <li><a href="/guides/v2.2/install-gde/bk-install-guide.html">安装向导</a></li>
          
          <li><a href="/guides/v2.2/comp-mgr/bk-compman-upgrade-guide.html">扩展安装及系统升级手册</a></li>
          
          <li><a href="/guides/v2.2/config-guide/bk-config-guide.html">配置手册</a></li>
          
          <li><a href="/guides/v2.2/performance-best-practices/index.html">高效实践</a></li>
          
          <li><a href="/guides/v2.2/migration/bk-migration-guide.html">迁移指引</a></li>
          <li><a href="/guides/v2.2/cloud/bk-cloud.html">上云指引</a></li>
          <li><a href="/magento-release-information.html">版本日志</a></li>
      </ul>
    </div>

  </li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">开发</span>

    <div class="nav-popup" role="menu" aria-hidden="true">

      <div class="nav-section">
        <div class="nav-section-title">服务端</div>
        <ul>
          <li><a href="/guides/v2.2/architecture/bk-architecture.html">架构说明</a></li>
          <li><a href="/guides/v2.2/extension-dev-guide/bk-extension-dev-guide.html">PHP开发文档</a></li>
          <li><a href="/guides/v2.2/ext-best-practices/bk-ext-best-practices.html">扩展开发实践</a></li>
          <li><a href="/guides/v2.2/mrg/intro.html">各模块介绍</a></li>
          <li><a href="/guides/v2.2/coding-standards/bk-coding-standards.html">编码规范</a></li>
          <li><a href="/guides/v2.2/contributor-guide/contributing.html">贡献指引</a></li>
        </ul>
      </div>

      <div class="nav-section">
        <div class="nav-section-title">前端</div>
        <ul>
          <li class=""><a href="/guides/v2.2/frontend-dev-guide/bk-frontend-dev-guide.html">前端工程师手册</a></li>
          
          <li><a href="/guides/v2.2/ui_comp_guide/bk-ui_comps.html">UI组件手册</a></li>
          
          <li><a href="/guides/v2.2/javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript开发手册</a></li>
          <li><a href="/guides/v2.2/pattern-library/bk-pattern.html">管理面板设计模式及所用库</a></li>
          <li><a href="/guides/v2.2/design-styleguide/bk-styleguide.html">管理面板样式手册</a></li>
          <li><a href="https://magento-research.github.io/pwa-devdocs/">PWA Studios</a></li>
        </ul>
      </div>

      <div class="nav-section">
        <div class="nav-section-title"><abbr>API</abbr></div>
        <ul>
          <li><a href="/guides/v2.2/get-started/bk-get-started-api.html">Web APIs起步</a></li>
          <li><a href="/guides/v2.2/rest/bk-rest.html">REST API参考</a></li>
          <li><a href="/guides/v2.2/soap/bk-soap.html">SOAP API参考</a></li>
          
          
          <li><a href="/guides/v2.2/marketplace/eqp/api.html">Marketplace EQP API Reference</a></li>
          
        </ul>
      </div>
    </div>

  </li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">测试</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
        <li><a href="/guides/v2.2/test/testing.html">Magento测试手册</a></li>
        
        <li><a href="/guides/v2.2/magento-functional-testing-framework/release-2/introduction.html">功能验收测试(新!)</a></li>
        
        <li><a href="/guides/v2.2/mtf/mtf_introduction.html">功能测试</a></li>
        <li><a href="/guides/v2.2/test/integration/integration_test_execution.html">集成测试</a></li>
        <li><a href="/guides/v2.2/test/js/jasmine.html">JavaScript单元测试</a></li>
        <li><a href="/guides/v2.2/test/unit/unit_test_execution.html">PHP单元测试</a></li>
        <li><a href="/guides/v2.2/get-started/web-api-functional-testing.html">Web API功能测试</a></li>
      </ul>
    </div>

  </li>


  <li class="nav-main-separator"></li>


  <li class="nav-main-item" tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">功能文档</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
          
          <li class="leaf"><a href="/guides/v2.2/advanced-reporting/overview.html">高级报表</a></li>
          
        
        <li class="leaf"><a href="/guides/v2.2/b2b/bk-b2b.html">B2B</a></li>
        
        <li><a href="/guides/v2.2/howdoi/checkout/checkout_overview.html">Checkout</a></li>
        <li><a href="/guides/v2.2/payments-integrations/bk-payments-integrations.html">支付集成</a></li>
        
          <li><a href="/guides/v2.2/extension-dev-guide/staging.html">Staging</a></li>
        
      </ul>
    </div>

  </li>


  <li class="nav-main-item"  tabindex="0" role="menuitem" aria-haspopup="true">
    <span tabindex="-1">指引</span>

    <div class="nav-popup" role="menu" aria-hidden="true">
      <ul>
        <li><a href="/guides/v2.2/howdoi/bk-how-do-i.html">如何</a></li>
        
        <li><a  data-proofer-ignore href="/guides/v2.2/get-started/order-tutorial/order-intro.html">使用EST APIs处理订单</a></li>
        

        <li><a href="/videos/">视频教程</a></li>
      </ul>
    </div>

  </li>

</ul><!-- /.nav-main -->

    </div>

    <div class="search-btn">
      <a class="search-trigger search-icon" href="#"></a>
    </div>

    <form class="quick-search" action="/guides/v2.2/search.html" method="get" novalidate="novalidate">
      <input type="search" name="q" placeholder="Search" />
      <a href="#" class="quick-search-close">&times;</a>
    </form>

  </div>

</nav><!-- #site-nav -->
<div class="nav-main-fader"></div>


	</header>

	<div class="global-wrapper">

		<div class="main-container">
			<a id="main-content"></a>


<div class="content-container">

  <aside class="sidebar">
  	<a href="#" data-proofer-ignore class="toc-toggler">内容表格</a>
  	<div class="sidebar-wrapper">

      
      
      
      <ul>
        <li class="level-0">
          <a href="/guides/v2.2//guides/v2.2/contributor-guide/templates/tutorial-template-first.html">
            <div class="back-link-subtitle">&larr; 返回到</div>
            <div class="back-link-title">样例模板教程</div>
          </a>
        </li>
      
        <li class="level1  active">
          <a href="/guides/v2.2/contributor-guide/templates/tutorial-template-first.html">初始化工作</a>
        </li>
      
        <li class="level1">
          <a href="/guides/v2.2/contributor-guide/templates/tutorial-template-middle.html">步骤1. Start the procedure</a>
        </li>
      
        <li class="level1">
          <a href="/guides/v2.2/contributor-guide/templates/tutorial-template-last.html">Step X. Finish the tutorial</a>
        </li>
      
      </ul>

    </div>
  </aside>
  <!-- /.sidebar -->

	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	

  <nav class="breadcrumbs">

    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

      <li class="breadcrumb-item"><a class="breadcrumb-item" href="/"><span>首页</span></a></li>

    <!-- Iteration breadcrumb item -->
    
    

    

      <!-- Skip if root -->
      

      <!-- Get breadcrumb title -->
      

      <!-- SEO data -->
      

      <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">

        

          

          <span property="name">样例模板教程</span>

        

        <meta property="position" content="1" />
      </li>

    

    </ol>

  </nav>



	

	
		<h1 class="page-subtitle">样例模板教程</h1>
	

	<h1 class="page-heading">样例模板教程</h1>

  


</section>

			<p>A tutorial provides procedural information spread across multiple pages. It contains several design elements that differ from standard topics:</p>

<ul>
  <li>When a user clicks on a tutorial title from the left navigation area, the Devdocs <span term-uuid="a3c8f20f-b067-414e-9781-06378c193155" class="glossary-term" data-toggle="popover">website</span> replaces the navigation with a table of contents that is specific to the tutorial.</li>
  <li><strong>Next</strong> and <strong>Previous</strong> buttons are displayed at the bottom of each topic.</li>
</ul>

<h2 id="metadata-parameters">Metadata parameters</h2>

<p>The following table lists the <span term-uuid="3f0f2ef1-ad38-41c6-bd1e-390daaa71d76" class="glossary-term" data-toggle="popover">metadata</span> parameters that are used in a tutorial.</p>

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">layout:</code></td>
      <td>Must be <code class="highlighter-rouge">tutorial</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">group:</code></td>
      <td>The group, or book, to which the topic belongs.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">subgroup:</code></td>
      <td>First page only. Places a link with the specified text to the <span term-uuid="31751771-8163-434b-88bc-c5f94d859fc3" class="glossary-term" data-toggle="popover">sidebar</span></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">level3_subgroup:</code></td>
      <td>A group name that binds the tutorial topics together. This value must be specified on each topic in the tutorial.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">title:</code></td>
      <td>The title of the tutorial.  On the first pageFor all other topics in the tutorial, this value should be in the form <em>Step X. Perform this task</em>. (For example, <code class="highlighter-rouge">步骤1. 配置网店</code>)</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">subtitle</code></td>
      <td>Displays the tutorial name. The value must be specified on each topic in the tutorial.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">menu_title:</code></td>
      <td>On the first page of the tutorial, specify <code class="highlighter-rouge">初始化工作</code>. Otherwise, leave this line blank.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">menu_order:</code></td>
      <td>The sequence number of the topic. If the topic is an intro topic in a multi-step tutorial, set this 0. Otherwise set it to the step number.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">version:</code></td>
      <td>The version of Magento that this topic applies to.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">github_link:</code></td>
      <td>The path to the MD file, starting at the book directory. Ex: <code class="highlighter-rouge">get-started/order-tutorial/order-intro.md</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">ee_only:</code></td>
      <td>If set to <code class="highlighter-rouge">true</code>, graphics/cues indicating that the article applies to EE are displayed on devdocs.</td>
    </tr>
  </tbody>
</table>

<h2 class="tutorial-before" id="开始之前">开始之前…</h2>

<p>This tutorial will show a &lt; audience/skill level&gt; how to &lt; perform the task addressed in this topic. &gt; Summarize the goals of the tutorial and the benefit that the reader will receive upon completion. This summary should be very brief–about 3 lines.</p>

<p>(Optional) The <strong>X-step tutorial</strong> generally takes <strong>YY minutes</strong>.</p>

<h2 id="complete-these-prerequisites">Complete these prerequisites</h2>

<ul>
  <li>List any skills required (PHP, database, admin, etc.)</li>
  <li>List any assumptions or requirements before starting.</li>
  <li>List any steps, bulleted and in order, necessary before starting the tutorial.</li>
</ul>


      <div class="horisontal-nav">
        
        
          <a href="/guides/v2.2/contributor-guide/templates/tutorial-template-middle.html" class="btn btn-large btn-primary">Begin Tutorial</a>
        
      </div>
      <!-- /.horisontal-nav -->

		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

    
  
    
    <div class="github-link">
      <a class="improve-page" href="https://github.com/magento/devdocs/blob/develop/guides/v2.2/contributor-guide/templates/tutorial-template-first.md" target="_blank">
        去GitHub上编辑
      </a>
    </div>
    
  
    
    <div class="new-issue">
      <a href="https://github.com/magento/devdocs/issues/new?title=Feedback on page: /guides/v2.2/contributor-guide/templates/tutorial-template-first.html" target="_blank">反馈</a>
    </div>
    
  
  </div>

	</section>
	<!-- /.content -->

</div> <!-- /.content-container -->


	</div>
	<!-- /.main-container -->
</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div class="page-footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav footer-links">
  <li><a href="/guides/v2.2/contributor-guide/contributing_docs.html">成为贡献者</a>
  <li><a href="https://magento.github.io/glossary/index.html?audience=developer">术语表</a></li>
  <li><a href="http://magento.com/legal/terms/privacy/">隐私政策</a></li>
  <li><a href="http://magento.com/legal/terms/">服务条款</a></li>
  <li><a href="http://magento.com/legal/licensing/">许可/商标 常见问题</a></li>
  <li><a href="/guides/v2.2/release-notes/bk-release-notes.html">版本日志</a></li>
  <li><a href="/magento-third-party.html">三方许可</a></li>
</ul>

    </div>

		<div class="copyright-date">&copy; 2018 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="/assets/js/app.min.js"></script>


<script src="/common/js/devdocs.min.js"></script>




</body>
</html>

